<body id="show_body">
	<div id="user_info">
		<h4><%= @user.full_name %></h4>
		<p><%= @user.email %></p>
		<p>User Name: <%= @user.name %></p>
	</div>
	<div id="post_container">
				<% @user.posts.each do |post| %>
					<div class="user">
						<h4><%= post.title %></h4>
						<p>
							Posted by
							<%= post.user.name %> 
							<%= post.created_at.strftime("on %m/%d/%Y") %> 
							<%= post.created_at.strftime("at %I:%M%p") %>
						</p>
						<p><%= post.content %></p>
					</div>
				<% end %>
	</div>
</body>	